.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.All-notes {
  grid-area: note-list;

  overflow-y: scroll;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.Note-page {
  grid-area: note-container;
  background-color: #282c34;
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.Note-container {
  max-height: 50vh;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "note-list note-container note-container note-container" "note-list note-container note-container note-container" "note-list note-container note-container note-container";
}
.logo {
 height: 40vmin;
}
